/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #6ea7a7;
  font-family: Arial, sans-serif;
}

/* navbar */
.navbar {
  width: 100%;
  background: black;
  color: white;
  padding: 15px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  width: 45px;
  height: 45px;
  font-size: 28px;
  border: none;
  cursor: pointer;
}

/* task area */
.task-area {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* task box */
.task {
  width: 220px;
  min-height: 160px;
  background: white;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task textarea {
  flex: 1;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}

/* task box buttons */
.task .actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.task button {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
